/* Fixed sidenav, full height */

@font-face {
  font-family: sofiapro-black;
  src: url(font/SofiaProBlackAz.otf);
}

@font-face{
  font-family: sofiapro-bold;
  src: url(font/Sofia\ Pro\ Bold\ Az.otf);
}

@font-face{
  font-family: sofiapro-semibold;
  src: url(font/Sofia\ Pro\ Semi\ Bold\ Az.otf);
}

@font-face{
  font-family: sofiapro-medium;
  src: url(font/Sofia\ Pro\ Medium\ Az.otf);
}

@font-face{
  font-family: sofiapro-reg;
  src: url(font/Sofia\ Pro\ Regular\ Az.otf);
}

@font-face{
  font-family: sofiapro-light;
  src: url(font/Sofia\ Pro\ Light\ Az.otf);
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    border: 2px solid #ECECF1;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 30px 8px 30px 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400px;
    color: #9097A4;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    font-family: sofiapro-reg;
    outline: none;
  }
  
  .sidenav a.logout{
    margin-top: 320px;
    color: #193B68;
  }

  .sidenav a.current-tab{
    color: #1479FF;
  }

  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #1479FF;
  }

  .sidenav a i{
    padding-right: 35px;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .background{
    background-color: #F5F6F9;
  }
 
  .avatar{
    width: 90px;
    height: 92.87px;
    padding-left: 77px;
    top: 37px;
  }

  .button{
    background-color: #1479FF;
    color: #FFFFFF;
    width: 190px;
    height: 34px;
    box-shadow: 0px 4px 30px rgba(20, 121, 255, 0.2);
    border-radius: 10px;
    border-color: #1479FF;
    padding-top: 5px;
    font-family: sofiapro-medium;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
  }

  h1 {
    font-family: sofiapro-medium;
    font-size: 52px;
    text-align: center;
    color: #193B68;
    font-weight: 500;
    text-align: left;
    margin-left: 300px;
    margin-bottom: 0px;
  }

  .information-popup{
    background-color: #F3F8FF;
    border: 1px solid #46B2FA;
    width:fit-content;
    height: 150px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
  }

  .info{
    font-family: sofiapro-light;
    font-weight: 300;
    font-size: 28px;
    color: #193B68;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
  }

  .recommendations{
    margin-left: 300px;
    color: #A5B5CA;
    font-family: sofiapro-light;
    font-size: 24px;
    font-weight: 300;
    margin-top: 0px;
  }

  .name{
    font-family: sofiapro-medium;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #193B68;
    margin-bottom: 5px;
  }

  .parent{
    margin-left: 150px;
    display: flex;
    margin-left: 300px;
  }

  .schedule1{
    background-color: #FFFFFF;
    width: 440px;
    height: 755px;
    border-radius: 10px;
    border: 1px solid #ECECF1;
  }

  .schedules{
    background-color: #FFFFFF;
    width: 440px;
    margin-left: 80px;
    height: 515px;
    border-radius: 10px;
    border: 1px solid #ECECF1;
  }

  .major{
    font-family: sofiapro-reg;
    color: #9097A4;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0px;
    text-align: center;

  }

  .fa-sign-out-alt{
    color: #9097A4;
    margin-left: 80px;
  }

  .btn-text{
    margin-top: 5px;
  }

  .fa-plus{
    margin-right: 15px;
  }
  
  .schedule-info{
    color: #193B68;
    display: flex;
    justify-content: space-evenly;
  }

  h2{
    font-family: sofiapro-bold;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 25px;
    align-content: center;
  }

  .info-icon{
    color: #9097A4;
    height: 17px;
    margin-left: 200px;
  }

  p{
    font-family: sofiapro-light;
    font-weight: 300;
    color: #193B68;
  }

  .subheading{
    margin-top: 0px;
    margin-bottom: 20px;
    
    margin-left: 25px;
  }

  .ratings
  {
    color: #193B68;
    font-family: sofiapro-semibold;
  }

  .difficulty{
    font-family: sofiapro-medium;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .schedule-time{
    font-family: sofiapro-reg;
    margin-bottom: 10px;
  }

  .fa-moon{
    margin-right: 10px;
  }

  .left-info{
    align-content: center;
    margin-top: 17px;
  }

  .right-info{
    align-content: center;
    margin-top: 30px;
  }

  .course{
    width: 386px;
    height: 90px;
    border: 1px solid #ECECF1;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    margin: 20px;
  }

  .easy{
    border-left:  12px solid #11A958;
  }

  .course-info{
    margin-left: 20px;
    margin-top: 6px;
  }

  .course-code{
    font-family: sofiapro-reg;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .course-name{
    font-family: sofiapro-light;
    font-size: 18px;
    margin-top: 1px;
    margin-bottom: 0px;
  }

  .hours{
    color: #9097A4;
    font-size: 18px;
    margin-top: 1px;
  }